{% extends 'base.html.twig' %}

{% block title %}Hello WatchlistViewController!
{% endblock %}


{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="/assets/css/watchlist.css"/>
{% endblock %}

{% block body %}


	<div class="example-wrapper">
	<h2>Ma collection</h2>
	</div>
          <div class="card--row">

          {% for anime in watchlist %}
                <div class="card">
                    <a href="anime/{{ anime.id }}" class="card-link">
                        <img src="{{ anime.image }}" class="card-img-top" alt="{{ anime.title }}">
                        <div class="card--details">
                            <span class="card--title">{{ anime.title }}</span>
                        </div>
                    </a>
                </div>
                {% else %}
                </div>

                <div class="col">
                    <p>Aucun anime trouvé.</p>
                </div>
                {% endfor %}

{% endblock %}

