{# templates/security/login.html.twig #}
{% if error %}
	<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<form action="{{ path('app_login') }}" method="post" class="login--form">
	<label class="mdc-text-field mdc-text-field--filled">
		<span class="mdc-text-field__ripple"></span>
		<span class="mdc-floating-label" id="username-label">Username</span>
		<input class="mdc-text-field__input" type="text" name="_username" id="username" value="{{ last_username }}" required aria-labelledby="username-label">
		<span class="mdc-line-ripple"></span>
	</label>
	<label class="mdc-text-field mdc-text-field--filled">
		<span class="mdc-text-field__ripple"></span>
		<span class="mdc-floating-label" id="password-label">Password</span>
		<input class="mdc-text-field__input" type="password" name="_password" id="password" required aria-labelledby="password-label">
		<span class="mdc-line-ripple"></span>
	</label>


	<button type="submit" class="mdc-button mdc-button--raised login--btn">
		<span class="mdc-button__ripple"></span>
		<span class="mdc-button__label">Connexion</span>
	</button>
</form>

