.anime--details {
  display: flex;
  padding-top: 5rem;
  padding-left: 10px;
  flex-direction: column;
  align-items: start;
}

.anime--info {
  background-color: white;
  margin: 1rem;
border-radius: 7px;

}

.anime--image{
  margin-top: 1rem;
}

.anime--action {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.anime--detailled_info {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 1rem;
  padding: 5px;
}

.anime--title {
    margin-bottom: 10px;
}

p {
  text-align: left;
  margin-bottom: 30px; /* between paragraphs */
}
