.register--content {
  height: 100vh;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register--title {
  margin: 1rem;
}
.register--input {
  margin-bottom: 1rem;
}

.register--form {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: white;
  padding: 4rem;
}

#login--content{
  height: 100vh;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}