.example-wrapper{
    padding: 5rem;
    padding-bottom: 1rem;
    padding-top: 8rem
}

.card--row{
    display: flex;
    padding: 2rem;
    background: white;
    margin: 1rem;
    border-radius: 10px;
    
}

.card-link{
    display: flex;
    flex-direction: column;
}

.card--details {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}